* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body{
  height: 100%;
}

label{
  margin-bottom: 0;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

p{
  margin-bottom: 0;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

a:focus,
a:active,
button:focus,
input:focus,
textarea:focus,
select:focus{
  outline: none;
}

button{
  cursor: pointer;
}

img{
  max-width: 100%;
}
.map{
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  background: linear-gradient(108.77deg, #868FEC -8.1%, rgba(245, 134, 208, 0.85) 52.71%, rgba(241, 218, 137, 0.97) 96.54%);
  path{
    @include transition(all .2s linear);
  }
  #lviv, #kyiv, #harkiv, #dnipro, #odesa{
    @include transition(all .2s linear);
    &:hover{
      fill-opacity:0.8;
    }
  }
  #lviv_pulse, #kyiv_pulse, #harkiv_pulse, #dnipro_pulse, #odesa_pulse{
    display: none;
  }
  #lviv_name, #kyiv_name, #harkiv_name, #dnipro_name, #odesa_name{
    display: none;
  }
  .active_city{
    fill-opacity:0.8;
  }
  .active_dot{
    fill: #272038;
  }
  ellipse{
    @include transition(all .2s linear);
  }
}
