//@font-face {
//  font-family:"Circe-Bold";
//  src: url('../fonts/CirceBold/CirceBold.eot');
//  src: url('../fonts/CirceBold/CirceBold.eot') format('embedded-opentype'),
//  url('../fonts/CirceBold/CirceBold.woff2') format('woff2'),
//  url('../fonts/CirceBold/CirceBold.woff') format('woff'),
//  url('../fonts/CirceBold/CirceBold.ttf') format('truetype'),
//  url('../fonts/CirceBold/CirceBold.svg#CirceBold') format('svg');
//
//  font-style:normal;
//  font-weight:normal;
//}
//
